@font-face {
  font-family: LemonMilk;
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/LemonMilk.otf");
}
@font-face {
  font-family: LemonMilk;
  font-weight: bold;
  font-style: normal;
  src: url("./fonts/LemonMilkbold.otf");
}
@font-face {
  font-family: LemonMilk;
  font-weight: bold;
  font-style: italic;
  src: url("./fonts/LemonMilkbolditalic.otf");
}
@font-face {
  font-family: LemonMilk;
  font-weight: normal;
  font-style: italic;
  src: url("./fonts/LemonMilkitalic.otf");
}
@font-face {
  font-family: LemonMilk;
  font-weight: lighter;
  font-style: normal;
  src: url("./fonts/LemonMilklight.otf");
}
@font-face {
  font-family: LemonMilk;
  font-weight: lighter;
  font-style: italic;
  src: url("./fonts/LemonMilklightitalic.otf");
}
